body {
    background-image: url("cosmos.png");
    background-size: cover;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;

}

p {
        font-weight: bolder;
        stroke          : purple;
        stroke-width    : .5px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: purple;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: lightblue;
}

#save-btn {
    background: lightgreen;
}

